{% extends 'postingan/post_detail.html' %}


{% block content %}
<div>
       <form action="{% url 'post_detail' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th><label for="komentar">Komentar: </label></th>
                <td><input type="text" name="komentar"  placeholder="komentar" id="komentar"></td>
                <th><label for="id_post">id_post: </label></th>
                <td><input type="text" name="id_post"  placeholder="id_post" id="id_post"></td>
            <tr>        
        </table>
        <input type="submit" value="Tambah Komentar">
    </form>
    </div>
{% endblock %}